:root{
    --theme-color: #f14c42;
}
.octo-body{
    color: white;
}
.octo-arm{
    color: white;
}
.sidebar li.active {
    background-color: rgb(238, 238, 238);
}
.app-name {
    font-family: '微软雅黑',' Microsoft YaHei';
}
.markdown-section a{
    color: green;
}

.footer a{
    margin-top:100px;
    color: var(--theme-color);
}

